.greet {
  display: grid;
  height: 100vh;
  text-align: center;
  place-items: center;
  color: white;

  button {
    background: none;
    border: 5px solid white;
    padding: 1rem 4rem;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-family: var(--font-family);

    &:hover {
      border-color: black;
      color: black;
    }
  }
}
