.todo {
  display: flex;
  gap: var(--margin-base);
  align-items: center;
  justify-content: stretch;

  &:not(:last-child) {
    margin-bottom: calc(var(--margin-base) * 2);
  }

  &:has(:focus),
  &:hover {
    background-color: var(--highlight);
    outline: var(--margin-base) solid var(--highlight);
  }
}

.title {
  flex-grow: 1;
  border-color: transparent;
  min-width: 0;

  &:focus {
    border-color: unset;
  }
}

.del {
  opacity: 0;
  width: 2rem;
  flex-shrink: 0;

  &:focus,
  .todo:hover &,
  .title:focus + & {
    opacity: 1;
  }
}
