.input {
  display: block;
  width: 100%;
  background: transparent;
  font-size: var(--font-size);
  padding: 0.2rem 0.3rem;
  margin-bottom: var(--margin-base);
}

.filters {
  display: grid;
  gap: var(--margin-base);
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: var(--margin-base);
}

.btn {
  &:disabled {
    color: var(--font-color-focus);
    border-color: var(--border-color-focus);
  }
}
