.list {
  width: calc(100vw / 3);
  flex-shrink: 0;
  padding: 0.3rem 0.5rem;
}

.header {
  display: flex;
  margin-bottom: var(--margin-base);
}

.title {
  flex-grow: 1;
  font-size: 2rem;
  text-align: center;
  margin-right: var(--margin-base);
  border-color: transparent;

  &:focus {
    color: var(--font-color-focus);
    border-color: var(--border-color-focus);

    &::placeholder {
      opacity: 0;
    }
  }
}

.del {
  border: var(--border-width) solid var(--border-color);
  width: 2.5rem;
  flex-shrink: 0;

  &:hover {
    border-color: var(--border-color-focus);
    color: var(--font-color-focus);
  }
}
