.list {
  width: calc(100% / 3);
  flex-shrink: 0;
  padding: 0.3rem 0.5rem;
}

.header {
  display: flex;
  margin-bottom: var(--margin-base);
}

.titleInput {
  flex-grow: 1;
  font-size: 2rem;
  text-align: center;
  margin-right: var(--margin-base);
  border-color: transparent;
  min-width: 0;

  &:focus {
    border-color: var(--border-color-focus);

    &::placeholder {
      opacity: 0;
    }
  }
}

.del {
  width: 2.5rem;
  flex-shrink: 0;
}
